$color-a:#000;
$color-b:#241100;
$color-c:#7e3b00;
$color-d:#e16a00;
$color-e:#ffba7d;
$color-f:#f9f9f9;

$color-demo-a:#1aa;
$color-demo-b:#62a;
$color-demo-c:#a12;
$color-demo-d:#1fa;
$color-demo-e:#126;
