@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*      fonts:{font-family: 'Roboto', sans-serif;}      */

/* VALUES GENERAL*/
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0;
    font-size: 14px;
}

body {
    background: #ffba7d;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
a,
a:active,
a:hover,
a:visited{
    color:#f9f9f9;
}

p,
a {
    margin-bottom: 0;
}
.allFlex{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;}

.main{
    width: 60vw;
    background: #e16a00;
    margin-left: auto;
    margin-right: auto;
    min-width: 460px;
}

.main * p,
.main * a
{
    color:#000;
}

.title__h1{
    text-align: center;
    background: linear-gradient(to top,#e16a00, #7e3b00);
}
/* ---- HEADER ---- */

.header{
    margin-top: 40px;
    display: grid;
    min-height: 320px;
    grid-template-areas: "logo" "nav";
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px;
}
.header__logo{
    min-width: 254px;
    grid-area: logo;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.nav__ul{
    background: #7e3b00;
    width: 60vw;
    grid-area: nav;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-width: 560px;
    padding: 10px 0;
}

/*  INDEX  */

.firstArticle {
    margin: 0 auto;
    width: 60vw;
    text-align: center;
    background: #e16a00;
    overflow: hidden;
    min-width: 460px;
}
.title__h1{
    font-size: 3rem;
    padding: 10px 0 20px 0;
}
.firstArticle__carrousel {
    position: relative;
    right: 20vw;
    margin-bottom: 2rem;
}
.products{
    display: flex; 
    justify-content: center;
    min-width: 460px;
}
.products__h2 {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin-top: 20px;
    position: absolute;
    font-size: 2.25rem;
    text-align: center;
    min-width: 460px;
    background: #7e3b00;
}
.products__featured{
    display:flex;
    flex-flow:row wrap;
    width:60vw;
    justify-content: space-evenly;
    align-items: flex-start;
    background: #7e3b00;
    margin-top: 40px;
    padding-top:20px;
    padding-bottom:20px;
    min-width: 460px;
}
.product{
    background:#f9f9f9;
    padding:10px;
    height: 300px;
    max-height: 300px;
    max-width: 240px;
    margin: 6px;
    flex-flow: row wrap;
    border: #e16a00 4px inset;
}
.product__img{
    height: 200px;
    border: #f9f9f9 outset 2px;
}
.product__text{
    text-align: center;
    width: 300px;
    max-height: 70px;
    overflow:hidden;
}
.product__value{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    z-index: 10;
    width: 100%;
}
.product__value__btn,
.product__value__text{
    margin: 0 2px;
}

.delivery {
    background: #e16a00;
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#e16a00,#7e3b00);
    margin-top: 10px;
}
.delivery__h2 {
    color: #241100;
    font-size: 2rem;
    width:100%;
    text-align: center;
}
.delivery__h2:hover {
    color: #f9f9f9;
    
}

/* ----PRODUCTS---- | ----SERVICE---- | ----SOFTWARE---- */

.article{
    background: #f9f9f9;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: #e16a00 2px solid;
    display:flex;
    flex-flow: row nowrap;
}
.article__img{
    display: inline-block;
    margin:12px;
    margin:auto 0;
    margin-left: 10px;
}
.article__about{
    display: inline-block;
    margin:10px;
    width: 100%;
}

.article--flex{
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    height: 100%;
    background:#7e3b00;
    border-radius: 10px;
}

.article__text{
    display: flex;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 10px;
    border: 1px #f9f9f966 solid;
    margin: 10px;
    padding:4px;
}
.article__data{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    background:#f9f9f9;
    border-radius: 10px ;
    border: 1px #f9f9f966 solid;
    margin: 10px;
    padding:4px;
}
.article__tag{
    margin: 0 4px;
}
.article__value{
    margin-right:10px;
}
.article__value__text{
    display:inline-block;
    margin: 0 2px;
}
.article__value__btn{
    display:inline-block;
    margin: 0 2px;
}

.article__tag::before {
    content: "tag: ";
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.button--effect{
    background:#f9f9f9;
    border:black 1px solid;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
}

.button--effect:active{
    background: #f9f9f966;
}

/* ----PRODUCTS---- */
/* ----SERVICE---- */
/* ----SOFTWARE---- */
.amz__img{
    min-width: 265px;
    max-width: 266px;
}

/* ----NEWS---- */

.article__new{
    display:flex;
    flex-flow: row nowrap;
    width: 100%;
    max-height: 420px;
}
.new__video{
    background: #ff973a;
    min-height: 240px;
    min-width: 326px;
    display:inline-block;
    margin: 10px;
}
.new__iframe{
    height: 100%;
    width: 100%;
}
.new__title{
    color: #000;
    background: #f9f9f9;
    border-radius: 10px;
    margin:10px;
    margin-bottom: 6px;
}
.new__about{
    display:inline-block;
    background:#7e3b00;
    border-radius: 10px;
    margin: 10px;
    width:100%;
    text-align: center;
}
.new--flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    background: #7e3b00;
    border-radius: 10px;
}
.new__desc{
    background: #f9f9f9;
}
.button__new--effect{
    border: 2px #000 groove;
    width: 90px;
    align-self: center;
    margin-bottom: 10px;
}

/* ----CONTACT---- */

.form__title{
    margin: 10px;
}
.form__data{
    margin: 10px;
}
.form-textarea{
    border: 1px solid #7e3b00; 
}
.form-group-text{
    color:#f9f9f9
}

.lastContact{
    display:flex;
    flex-flow: row nowrap;
    padding: 10px;
    justify-content: space-evenly;
    align-content: center;
}
.iframe__map{
    min-width:360px;
    min-height:360px;
}
.lastContact__contact{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    max-height: 340px;
    overflow: hidden;
}
.contact__text{
    align-self: flex-start;
    max-width:300px ;
}
/* ---- FOOTER ---- */

.footer {
    background: #7e3b00;
    display: grid;
    grid-template-areas: "social" "link" "cc";
    grid-template-columns: auto;
    grid-template-rows: 120px 30px auto;
}
.social__media{
    grid-area: social;
    background: linear-gradient(#7e3b00,#55200b);
}
.footer__ul{
    justify-content: space-evenly;
    min-width: 560px;
}
.footer__li__a{
    width: 100px;
    flex-flow: column wrap;
}
.footer__mediaImg,
.footer__mediaImg,
.footer__mediaImg {
    height: 40px;
}

.footer__mediaText,
.footer__mediaText,
.footer__mediaText {
    font-size: 1.5rem;
    width: 100px;
    text-align: center;
}

.footer__ccLinks {
    grid-area: link;
    display: flex;
    background: #55200b;
    justify-content: center;
    align-items: center;
}
.footer__ccText {
    grid-area: cc;
    background: #55200b;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-right: 10vw;
}

/* EFFECTS */
.text--transition{
    color:#f9f9f9;
    transition: all 2s;
}
.text--transition:hover{
    color:#ffad65;
}

@keyframes ease_in-out{
    0%{
        height: 42px;
    }
    25%{
        height: 52px;
    }
    50%{
        height: 46px;
    }
    75%{
        height: 52px;
    }
    100%{
        height: 42px;
    }
}
.footer__mediaImg:hover,
.footer__mediaImg:hover,
.footer__mediaImg:hover {
    animation: 2s infinite ease-in-out;
    animation-name: ease_in-out;
}
